#grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); */
}

.card {
    width: 200px;
    height: 200px;

}